catboost==1.1.1
click
contourpy
cycler
Flask
fonttools
graphviz
Gunicorn==20.1.0
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
numpy
packaging
pandas
Pillow
pip
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
tenacity
threadpoolctl
Werkzeug
zipp
